
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Community Connections</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @User.Identity.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to <a href="http://communityconnectionpt.apphb.com/">our site</a>!
    </p>
    <p style="font-size:18px;"><i>Community Connections</i></p>
</body>
</html>
