@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2727 South Highway 421 Suite 1<br />
    Manchester, Ky 40962<br />
    <abbr title="Phone">P:</abbr>
    012.345.6789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:communityconnectionsadvisor@gmail.com">communityconnectionsadvisor@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>