@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Community Connections</h1>
    <p class="lead">Information can go here</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Apply Here &raquo;</a></p>
    <img src="~/Images/CCTest.jpg" alt="CC Logo" height="42" width="42" />
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Community Connection is a company that provides a service of facilitating 
            the application process for patient assistance programs offered 
            from pharmaceutical companies.
        </p>
        <p><a class="btn btn-default" href="    ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get What You Deserve</h2>
        <p>Receive assistance with brand name medications at little or no cost!</p>
        <p><a class="btn btn-default" href="    ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Communication</h2>
        <p>We work with you and your doctors to prepare each application. 
        Once prepared, we file your applications with each pharmaceutical company on your behalf.</p>
        <p><a class="btn btn-default" href="      ">Learn more &raquo;</a></p>
    </div>
</div>
